faiss-cpu
google-api-python-client
google-auth
google-auth-oauthlib
langchain
langchain_chroma
langchain-community
jupyterlab
matplotlib
notebook
numpy
pandas
pypdf
scikit-learn
seaborn
sentence-transformers
spacy
tiktoken
ollama
openai
requests